body {
  margin: 0;
  background-color:rgb(52, 12, 112);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  color: rgb(255, 187, 0);
  background-color:rgb(52, 12, 112);
  text-align:center;
  width:500px;
  margin:1.5rem auto;
  padding-bottom:1rem;
  border-radius: 5px;
  border: 1px solid red;
  align-content: space-around;
  box-shadow: 0px 3px 5px gray;
}

.inputBox{
  font-size:1.5rem;
}

select{
  font-size:3rem;
  text-align:center;
  background-color: transparent; 
  color:whitesmoke;
  font-weight: bold;
  border: none;
  border-bottom: 3px dashed red;
  margin:1px 4px;
  width: 120px;
}
option{
  background-color:rgb(52, 12, 112);
}
.addBtn{
  line-height: 2rem;
  font-size:1.5rem;
  background-color: rgb(255, 187, 0);
  margin: 10px;
  border-radius: 5px;
}

.delBtn{
  background-color:red;
  margin:0 4px;
  border-radius: 5px;  
}


.redCard{
    color:red;
    background: white;
  }
 
.blackCard{
    color:black;
    background:white;
  }
.card{
  padding: 5px;
  border-radius: 3px;
  margin:3px;
}